<body class="home page-template-default page page-id-7366 woocommerce-no-js tribe-no-js">

    <!-- _________________________ Start Page _________________________ -->
    <div id="page" class="csstransition cmsmasters_liquid fixed_header enable_header_top cmsmasters_heading_after_header hfeed site">

        <!-- _________________________ Start Main _________________________ -->
        <div id="main">

            <!-- _________________________ Start Header _________________________ -->
            <header id="header">
                <div class="header_top" data-height="32">
                    <div class="header_top_outer">
                        <div class="header_top_inner">
                            <div class="header_top_right">
                                <div class="social_wrap">
                                    <div class="social_wrap_inner">
                                        <ul>
                                            <li>
                                                <a href="index.html#" class="cmsmasters_social_icon cmsmasters_social_icon_1 cmsmasters-icon-facebook-1 cmsmasters_social_icon_color" title="Facebook"></a>
                                            </li>
                                            <li>
                                                <a href="index.html#" class="cmsmasters_social_icon cmsmasters_social_icon_2 cmsmasters-icon-gplus-1 cmsmasters_social_icon_color" title="Google+" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a href="index.html#" class="cmsmasters_social_icon cmsmasters_social_icon_3 cmsmasters-icon-instagram cmsmasters_social_icon_color" title="Instagram" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a href="index.html#" class="cmsmasters_social_icon cmsmasters_social_icon_4 cmsmasters-icon-twitter cmsmasters_social_icon_color" title="Twitter" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a href="index.html#" class="cmsmasters_social_icon cmsmasters_social_icon_5 cmsmasters-icon-youtube-play cmsmasters_social_icon_color" title="YouTube" target="_blank"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div></div><div class="header_top_left"><div class="meta_wrap"><div class="adr cmsms-icon-location-3">Jl. Kusuma Bangsa No.116-118, Tambaksari, Kota SBY, Jawa Timur 60136</div>
                                    <div class="tel cmsms-icon-phone-4">+ (031) 5316557</div>
                                    <div class="tel">+ 1 (031) 5316557</div></div></div>				</div>
                    </div>
                    <div class="header_top_but closed">
                        <span class="cmsmasters_theme_icon_slide_bottom"></span>
                    </div>
                </div>
                <div class="header_mid" data-height="108">
                    <div class="header_mid_outer">
                        <div class="header_mid_inner">
                            <div class="logo_wrap">

                                <style type="text/css">
                                    .header_mid .header_mid_inner .logo_wrap {
                                        width : 210px;
                                    }
                                </style>
                                <a href="index.html" title="Mall" class="logo">
                                    <img src="/img/logo/logo-hi-tech-mall.png" alt="Mall" />

                                    <style type="text/css">
                                        .header_mid_inner .logo .logo_retina {
                                            width : 250px;
                                            max-width : 250px;
                                        }
                                    </style>
                                    <img class="logo_retina" src="/img/logo/logo-hi-tech-mall.png" alt="Mall" width="250" height="60" />
                                </a>
                            </div>
                            
                            <!-- _________________________ Start Navigation _________________________ -->
                            <div class="mid_nav_wrap">
                                <nav role="navigation">
                                    <div class="menu-main-menu-container"><ul id="navigation" class="mid_nav navigation"><li id="menu-item-7644" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7366 current_page_item menu-item-7644 menu-item-depth-0"><a href="index--origimal.html"><span class="nav_item_wrap"><span class="nav_title">Home</span></span></a></li>
                                            <li id="menu-item-7558" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7558 menu-item-depth-0"><a><span class="nav_item_wrap"><span class="nav_title">Info Hi Tech Mall</span></span></a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-7618" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7618 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Bagaimana Mencari Kami</span></span></a>	</li>
                                                    <li id="menu-item-8948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8948 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Direktori Toko</span></span></a>	</li>
                                                    <li id="menu-item-8437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8437 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Berita Terbaru</span></span></a>	</li>
                                                    <li id="menu-item-8447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8447 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Event Terbaru</span></span></a>	</li>
                                                    <li id="menu-item-7629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7629 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Photo Gallery</span></span></a>	</li>
                                                    <li id="menu-item-7572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7572 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Tentang Kami</span></span></a>	</li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-8550" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8550 menu-item-depth-0"><a><span class="nav_item_wrap"><span class="nav_title">Department</span><span class="nav_tag">Hot!</span></span></a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-8565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8565 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Kamera</span></span></a>	</li>
                                                    <li id="menu-item-8564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8564 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Laptop</span></span></a>	</li>
                                                    <li id="menu-item-8564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8564 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Printer</span></span></a>	</li>
                                                    <li id="menu-item-8563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8563 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Kamera</span></span></a>	</li>
                                                    <li id="menu-item-8561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8561 menu-item-depth-1"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Drone</span></span></a>	</li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-7567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7567 menu-item-depth-0"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Fasilitas</span></span></a></li>
                                            <li id="menu-item-7567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7567 menu-item-depth-0"><a href="index.html#"><span class="nav_item_wrap"><span class="nav_title">Kontak Kami</span></span></a></li>
                                        </ul></div>
                                </nav>
                            </div>
                            <!-- _________________________ Finish Navigation _________________________ -->
                        </div>
                    </div>
                </div>
            </header>
            <!-- _________________________ Finish Header _________________________ -->
