<div id="cmsmasters_row_5b91eda6bce72" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">

                        <div id="cmsmasters_divider_5b91eda6bcf12" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b91eda6bcf68" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_text">
                            <h3 style="text-align: center;">
                                <span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">
                                    Vendor <span style="font-weight: 100;">terbaik di Hi-Tech Mall</span></span></h3>
                        </div>

                        <div id="cmsmasters_divider_5b91eda6bd270" class="cl"></div>

                        <script type="text/javascript">jQuery(document).ready(function () { jQuery("#cmsmasters_clients_5b91eda6bd2ba").owlCarousel({ singleItem : false, items : 4, itemsDesktopSmall : [768, 2], itemsTablet: [540, 1], slideSpeed : 1000, paginationSpeed : 1000, autoPlay : true, stopOnHover: true, pagination : false, navigation : false, navigationText : 	[ "<span class=\"cmsmasters_prev_arrow\"><span></span></span>", "<span class=\"cmsmasters_next_arrow\"><span></span></span>" ] }); });</script>
                        <div class="cmsmasters_clients_slider_wrap">
                            <div id="cmsmasters_clients_5b91eda6bd2ba" class="cmsmasters_clients_slider cmsmasters_owl_slider owl-carousel">
                                <div class="cmsmasters_clients_item item">
                                    <a href="index.html#" target="_blank"><img src="/img/logo-client/lenovo.png" alt="Lenovo" /><span>Lenovo</span></a></div>
                                <div class="cmsmasters_clients_item item">
                                    <a href="index.html#" target="_blank"><img src="/img/logo-client/epson.png" alt="Epson" /><span>Epson</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cl"></div><div class="content_wrap fullwidth">

    <div class="middle_content entry"></div>
    <!-- _________________________ Finish Content _________________________ -->

</div>
</div>
</div>
<!-- _________________________ Finish Middle _________________________ -->