<div id="cmsmasters_row_5b91eda6b5ae2" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div id="cmsmasters_divider_5b91eda6b5bd3" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b91eda6b5c24" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_text">
                            <h3 style="text-align: center;">
                                <span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">
                                    Berita Terbaru <span style="font-weight: 100;">Apa yang terjadi di Hi-Tech Mall</span></span></h3>
                        </div>

                        <div id="cmsmasters_divider_5b91eda6b5d54" class="cl"></div>
                        <div class="cmsmasters_posts_slider" >
                            <script type="text/javascript">
                                jQuery(document).ready(function () {
                                    var container = jQuery('.cmsmasters_slider_5b91eda6b5dfc');
                                    containerWidth = container.width(),
                                            firstPost = container.find('article'),
                                            postMinWidth = Number(firstPost.css('minWidth').replace('px', '')),
                                            postThreeColumns = (postMinWidth * 4) - 1;
                                    postTwoColumns = (postMinWidth * 3) - 1;
                                    postOneColumns = (postMinWidth * 2) - 1;


                                    jQuery('.cmsmasters_slider_5b91eda6b5dfc').owlCarousel({
                                        items: 4,
                                        itemsDesktop: false,
                                        itemsDesktopSmall: [postThreeColumns, 3],
                                        itemsTablet: [postTwoColumns, 2],
                                        itemsMobile: [postOneColumns, 1],
                                        transitionStyle: false,
                                        rewindNav: true,
                                        slideSpeed: 200,
                                        paginationSpeed: 800,
                                        rewindSpeed: 1000, autoPlay: 5000, stopOnHover: true,
                                        autoHeight: true,
                                        addClassActive: true,
                                        responsiveBaseWidth: '.cmsmasters_slider_5b91eda6b5dfc',
                                        pagination: false,
                                        navigation: true,
                                        navigationText: ["<span class=\"cmsmasters_prev_arrow\"><span></span></span>", "<span class=\"cmsmasters_next_arrow\"><span></span></span>"]
                                    });
                                });
                            </script>
                            <div id="cmsmasters_owl_carousel_5b91eda6b5dfc" class="cmsmasters_owl_slider cmsmasters_slider_5b91eda6b5dfc">
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                                <div>
                                    <!--_________________________ Start Image Article _________________________ -->
                                    <article id="post-2938" class="cmsmasters_slider_post post-2938 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment post_format-post-format-image">
                                        <div class="cmsmasters_slider_post_outer">
                                            <div class="cmsmasters_slider_post_date_img_wrap"><figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img width="580" height="390" src="wp-content/uploads/2014/05/Depositphotos_2036322_original-580x390.jpg" class="full-width wp-post-image" alt="25 Largest Shopping Malls In The World" title="25 Largest Shopping Malls In The World" /><div class="cmsmasters_img_rollover">
                                                        <a href="index.html#" title="25 Largest Shopping Malls In The World" class="cmsmasters_open_link"></a></div></figure><span class="cmsmasters_slider_post_date"><abbr class="published" title="27.11.15">27.11.15</abbr><abbr class="dn date updated" title="27.11.15">27.11.15</abbr></span></div><div class="cmsmasters_slider_post_inner"><header class="cmsmasters_slider_post_header entry-header"><h4 class="cmsmasters_slider_post_title entry-title"><a href="index.html#">10 Barang tercanggih di Hi Tech Mall</a></h4></header><div class="cmsmasters_slider_post_cont_info entry-meta">
                                                    <span class="cmsmasters_slider_post_category">In <a href="index.html#" class="cmsmasters_cat_color cmsmasters_cat_40" rel="category tag">Category</a></span></div><div class="cmsmasters_slider_post_content entry-content">
                                                    <p>Deskripsi berita headline cerita .</p>
                                                </div>
                                                <footer class="cmsmasters_slider_post_footer entry-meta"><span class="cmsmasters_likes cmsmasters_slider_post_likes"><a href="index.html#" onclick="cmsmastersLike(2938); return false;" id="cmsmastersLike-2938" class="cmsmastersLike cmsmasters_theme_icon_like"><span>45</span></a></span><span class="cmsmasters_comments cmsmasters_slider_post_comments"><a class="cmsmasters_theme_icon_comment" href="index.html#" title="Comment on 25 Largest Shopping Malls In The World"><span>2</span></a></span></footer></div>	</div>
                                    </article>
                                    <!--_________________________ Finish Image Article _________________________ -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>