<div id="cmsmasters_row_5b91eda6b034d" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_text">
                            <h3 style="text-align: center;"><span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">OUR SERVICES <span style="font-weight: 100;">SOME AWESOME THINGS WE DO</span></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b91eda6b047e" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_third">

                        <div id="cmsmasters_icon_box_5b91eda6b058d" class="cmsmasters_icon_box cmsmasters_icon_top box_icon_type_image ">
                            <div class="icon_box_inner">
                                <h3 class="icon_box_heading">Entertainment Zone</h3>
                                <div class="icon_box_text">
                                    <p>Women&#8217;s, men&#8217;s and children&#8217;s fashion, accesories, shoes, jewellery and more are in the Fashion Zone . Lorem Ipsum is simply dummy text of the Lorem Ipsum</p>
                                </div>
                                <a href="http://mall.cmsmasters.net/cinema/" class="cmsmasters_button icon_box_button"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cmsmasters_column one_third">

                        <div id="cmsmasters_icon_box_5b91eda6b082d" class="cmsmasters_icon_box cmsmasters_icon_top box_icon_type_image ">
                            <div class="icon_box_inner">
                                <h3 class="icon_box_heading">Fashion Zone</h3>
                                <div class="icon_box_text">
                                    <p>Women&#8217;s, men&#8217;s and children&#8217;s fashion, accesories, shoes, jewellery and more are in the Fashion Zone . Lorem Ipsum is simply dummy text of the Lorem Ipsum</p>
                                </div>
                                <a href="http://mall.cmsmasters.net/shopping/" class="cmsmasters_button icon_box_button"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cmsmasters_column one_third">

                        <div id="cmsmasters_icon_box_5b91eda6b0aab" class="cmsmasters_icon_box cmsmasters_icon_top box_icon_type_image ">
                            <div class="icon_box_inner">
                                <h3 class="icon_box_heading">Dining &amp; Lounge Zone</h3>
                                <div class="icon_box_text">
                                    <p>Women&#8217;s, men&#8217;s and children&#8217;s fashion, accesories, shoes, jewellery and more are in the Fashion Zone . Lorem Ipsum is simply dummy text of the Lorem Ipsum</p>
                                </div>
                                <a href="http://mall.cmsmasters.net/dining/" class="cmsmasters_button icon_box_button"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>